<%- include("header") -%>


<!-- Preloader start -->
<div class="preloader">
    <div class="box">
      <div></div><div></div><div></div>
    </div>
  </div>
  <!-- Preloader end   -->
  
  <!-- Header Start  -->
  <header class="header">
    <div class="container">
      <div class="row justify-content-between">
  
        <div class="logo">
          <a href="/">E</a>
        </div>
  
        <div class="hamburger-btn outer-shadow hover-in-shadow">
          <span></span>
        </div>
  
      </div>
    </div>
  </header>
  <!-- Header End    -->
  
  
  <!-- Navigation menu start -->
  <nav class="nav-menu">
    <div class="close-nav-menu outer-shadow hover-in-shadow">&times;</div>
    <div class="nav-menu-inner">
      <ul>
        <li><a href="#home" class="link-item inner-shadow active">home</a></li>
        <li><a href="#about" class="link-item outer-shadow hover-in-shadow">about</a></li>
        <li><a href="#services" class="link-item outer-shadow hover-in-shadow">services</a></li>
        <li><a href="#portfolio" class="link-item outer-shadow hover-in-shadow">projects</a></li>
        <li><a href="#contact" class="link-item outer-shadow hover-in-shadow">contact</a></li>
      </ul>
    </div>
  
    <p class="copyright-text">&copy; 2021 Ethan Dang</p>
  </nav>
  
  <div class="fade-out-effect"></div>
  <!-- Navigation menu end   -->
  
  
  <!-- Home section start -->
  <section class="home-section section active" id="home">
  
    <!-- Effect wrap start -->
    <div class="effect-wrap">
      <div class="effect effect-1"></div>
      <div class="effect effect-2">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="effect effect-3"></div>
      <div class="effect effect-4"></div>
      <div class="effect effect-5">
        <div></div><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div><div></div>
      </div>
    </div>
    <!-- Effect wrap start -->
  
    <div class="container">
      <div class="row full-screen align-items-center">
  
        <div class="home-text">
          <p>Hello</p>
          <h2>I'm Ethan</h2>
          <h1>Web Developer</h1>
          <a href="#about" class="link-item btn-1 outer-shadow hover-in-shadow">More About Me</a>
        </div>
  
        <div class="home-img">
          <div class="img-box inner-shadow">
            <img class="outer-shadow" src="img/profile-pic.png" alt="profile-pic">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Home section end   -->
  
  
  <!-- About section start -->
  <section id="about" class="about-section section">
    <div class="container">
  
      <div class="row">
        <div class="section-title">
          <h2 data-heading="main info">About me</h2>
        </div>
      </div>
  
      <div class="row">
  
        <div class="about-img">
  
          <div class="img-box inner-shadow">
            <img class="outer-shadow" src="img/profile-pic.png" alt="profile-pic">
          </div>
  
          <!-- Social links start -->
          <div class="social-links">
            <a href="https://fb.com/" target="_blank" class="outer-shadow hover-in-shadow"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en" target="_blank" class="outer-shadow hover-in-shadow"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank" class="outer-shadow hover-in-shadow"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/lmndang/" target="_blank" class="outer-shadow hover-in-shadow"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <!-- Social links end   -->
  
        </div>
  
        <div class="about-info">
          <p>
            <span>Hi there! My name is Ethan Dang. I am a Web Developer.</span>
            Now before we talk about my experience let's go back to August 2012. 
            It’s my first year in middle school, I have a big interest in computers. 
            I’ve always enjoyed tinkering with them (and somehow breaking them).
          </p>
          <p>
            One of my fondest memories was when we created a website. 
            I still remember the feeling I had when making it. It was nice; a feeling of comfort, contentedness like I could easily spend the whole year doing this. 
            The deeper I learned about web development, the more I loved it.
          </p>
          <p>
            I don't like to define myself by the work I've done. 
            I define myself by the work I want to do. Skills can be taught, personality is inherent. 
            I prefer to keep learning, continue challenging myself, and do interesting things that matter.
          </p>
          <!-- <div class="about-info-btn"> -->
            <a href="https://drive.google.com/drive/folders/15JwAMrw1TLAu3-RxDg57IwLcW2pSEUMd?usp=sharing" target="_blank" class="btn-1 outer-shadow hover-in-shadow">Download Resume</a>
            <a href="#contact" class="link-item btn-1 outer-shadow hover-in-shadow">Hire Me</a>
          <!-- </div> -->
          
        </div>
      </div>
  
      <!-- About tabs start -->
      <div class="row">
        <div class="about-tabs">
          <span class="tab-item outer-shadow active" data-target=".skills">skills</span>
          <span class="tab-item" data-target=".experience">experience</span>
          <span class="tab-item" data-target=".education">education</span>
        </div>
      </div>
      <!-- About tabs end   -->
  
      <!-- Skill start -->
      <div class="row">
        <div class="skills tab-content active">
          <div class="row">
  
            <!-- Skill item start -->
            <div class="skill-item">
              <p>Html</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(90% - 14px);">
                  <span>90%</span>
                </div>
              </div>
            </div>
  
            <div class="skill-item">
              <p>Css/Sass</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(90% - 14px);">
                  <span>90%</span>
                </div>
              </div>
            </div>
  
            <div class="skill-item">
              <p>JavaScript</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(95% - 14px);">
                  <span>95%</span>
                </div>
              </div>
            </div>
  
            <div class="skill-item">
              <p>Node.js</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(75% - 14px);">
                  <span>75%</span>
                </div>
              </div>
            </div>
  
  
            <div class="skill-item">
              <p>Express.js</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(80% - 14px);">
                  <span>80%</span>
                </div>
              </div>
            </div>
  
            <div class="skill-item">
              <p>Mongodb</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(85% - 14px);">
                  <span>85%</span>
                </div>
              </div>
            </div>
  
            <div class="skill-item">
              <p>React</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(85% - 14px);">
                  <span>85%</span>
                </div>
              </div>
            </div>
  
            <div class="skill-item">
              <p>UI/UX Design</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(75% - 14px);">
                  <span>75%</span>
                </div>
              </div>
            </div>
            <!-- Skill item end  -->
  
          </div>
        </div>
      </div>
      <!-- Skill end   -->
  
      <!-- Experience start -->
      <div class="row">
        <div class="experience tab-content">
          <div class="row">
            <div class="timeline">
              <div class="row">
  
                <!-- Timeline item start -->
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-briefcase icon"></i>
                      <span>Mar, 2021 - Current</span>
                      <h3>Web Developer</h3>
                      <h4>freelance, Toronto</h4>
                      <p>Designing user interactions on websites, developing servers and databases for website functionality and coding for mobile platforms.</p>
                    </div>
                  </div>
  
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-briefcase icon"></i>
                      <span>May, 2020 - Feb, 2021</span>
                      <h3>Courier</h3>
                      <h4>Uber Eats, Toronto</h4>
                      <p>Responsible for distributing packages for customers. Pick up packages from restaurants and deliver them to destinations.</p>
                    </div>
                  </div>
  
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-briefcase icon"></i>
                      <span>Jan, 2020 - Apr, 2020</span>
                      <h3>Receptionist</h3>
                      <h4>Achievement Spa, Toronto</h4>
                      <p>Serves visitors by greeting, welcoming, and directing them appropriately. Notifies company personnel of visitor arrival.</p>
                    </div>
                  </div>
                <!-- Timeline item end   -->
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Experience end   -->
  
      <!-- Education start -->
      <div class="row">
        <div class="education tab-content">
          <div class="row">
            <div class="timeline">
              <div class="row">
  
                <!-- Timeline item start -->
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>2020 - 2023</span>
                      <h3>Computer Programming Degree</h3>
                      <p>Attending to Computer Programming & Analysis program at Seneca College. 
                        I have learned about programming languages, program design and system analysis.</p>
                    </div>
                  </div>
  
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>2018 - 2019</span>
                      <h3>ILAC Pathway certificate</h3>
                      <p>The ILAC pathway partnership helps international students (like me) to discover all of the academic opportunities that education in Canada offers.</p>
                    </div>
                  </div>
  
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>2015 - 2018</span>
                      <h3>High school diploma</h3>
                      <p>High School to me seemed like it passed by really fast, almost too fast sometimes. 
                         I learned many valuable life lessons as well as made lifelong friends.</p>
                    </div>
                  </div>
                <!-- Timeline item end   -->
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Education end   -->
    </div>
  </section>
  <!-- About section end   -->
  
  
  <!-- Service section start -->
  <div id="services" class="service-section section">
    <div class="container">
  
      <div class="row">
        <div class="section-title">
          <h2 data-heading="Services">What I do</h2>
        </div>
      </div>
  
      <div class="row">
        <!-- Service item start -->
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <h3>Responsive web design</h3>
            <p>Making web pages render well on a variety of devices.</p>
          </div>
        </div>
  
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-laptop-code"></i>
            </div>
            <h3>Front-End Developer</h3>
            <p>Packaging up the utility of the back end in an inviting way for users to interact with.</p>
          </div>
        </div>
  
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fab fa-react"></i>
            </div>
            <h3>back-end developer</h3>
            <p>Handling the "behind-the-scenes" functionality of web applications.</p>
          </div>
        </div>
  
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-database"></i>
            </div>
            <h3>Database design</h3>
            <p>Designing and implementing database storage systems.</p>
          </div>
        </div>
  
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-tasks"></i>
            </div>
            <h3>Project management</h3>
            <p>Leading the work of a team to achieve goals at a specified time.</p>
          </div>
        </div>
  
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-brain"></i>
            </div>
            <h3>Software analysis</h3>
            <p>Transformation of requirement specification into implementation.</p>
          </div>
        </div>
        <!-- Service item end   -->
      </div>
  
    </div>
  </div>
  <!-- Service section end   -->
  
  
  <!-- Portfolio section start -->
  <section id="portfolio" class="portfolio-section section">
    <div class="container">
  
      <div class="row">
        <div class="section-title">
          <h2 data-heading="projects">Latest works</h2>
        </div>
      </div>
  
      <!-- Portfolio filter start -->
        <div class="row">
          <div class="portfolio-filter">
            <span class="filter-item outer-shadow active" data-target="all">all</span>
            <span class="filter-item" data-target="web-application">web application</span>
            <span class="filter-item" data-target="photoshop">photoshop</span>
            <span class="filter-item" data-target="mobile-app">mobile app</span>
            <span class="filter-item" data-target="e-commerce">e-commerce</span>
          </div>
        </div>
      <!-- Portfolio filter end   -->
  
      <!-- Portfolio items start -->
      <div class="row portfolio-items">
  
  
  
  
        <!-- Portfolio item start -->
        <%  projects.forEach(function(project){ %>

        <div class="portfolio-item" data-category="<%= project.category %>">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="<%= project.imgThumb %>" alt="portfolio" 
                   data-screenshots="<%= project.imgDetail %>">
              <span class="view-project">view project</span>
            </div>
            <p class="portfolio-item-title"><%= project.name %></p>
            <!-- Portfolio item details start -->
            <div class="portfolio-item-details">
              <div class="row">
                <div class="description">
                  <h3>Project Brief:</h3>
                  <p><%= project.description %></p>
                </div>
                <div class="info">
                  <h3>Project info</h3>
                  <ul>
                    <li>Date - <span><%= project.date %></span></li>
                    <li>Client - <span><%= project.client %></span></li>
                    <li>Tools - <span><%= project.tool %></span></li>
                    <li>Web - <span><a href="<%= project.webLink %>" target="_blank"><%= project.webName %></a></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Portfolio item details end   -->
          </div>
        </div>

        <%  }) %>
        <!-- Portfolio item end   -->

  
      
        
      </div>
      <!-- Portfolio items end   -->
    </div>
  </section>
  <!-- Portfolio section end   -->
  
  
  <!-- Contact section start -->
  <section id="contact" class="contact-section section">
    <div class="container">
  
      <div class="row">
        <div class="section-title">
          <h2 data-heading="contact">get in touch</h2>
        </div>
      </div>
  
      <!-- Contact item start -->
      <div class="row">
        <div class="contact-item">
          <div class="contact-item-inner outer-shadow">
            <i class="fas fa-phone"></i>
            <span>Phone</span>
            <p>+1 (437) 333 5795</p>
            <!-- <a href="tel:+14373335795" target="_blank">+1 (437) 333 5795</a> -->
          </div>
        </div>
  
        <div class="contact-item">
          <div class="contact-item-inner outer-shadow">
            <i class="fas fa-envelope"></i>
            <span>Email</span>
            <p>lmndang.toronto@gmail.com</p>
            <!-- <a href="mailto:lmndang.toronto@gmail.com" target="_blank">lmndang.toronto@gmail.com</a> -->
          </div>
        </div>
  
        <div class="contact-item">
          <div class="contact-item-inner outer-shadow">
            <i class="fas fa-map-marker-alt"></i>
            <span>Address</span>
            <p>97 Clinton Street, Toronto, ON M6G 2Y4</p>
            <!-- <a href="https://goo.gl/maps/FYDA4WCikmQVXfGf6" target="_blank">97 Clinton Street, Toronto, ON M6G 2Y4</a> -->
          </div>
        </div>
        <!-- Contact item end  -->
      </div>
  
      <div class="row">
        <div class="contact-form">
          <form action="https://formspree.io/f/moqpoekp" method="POST">
            <div class="row">
  
              <div class="w-50">
                <div class="input-group outer-shadow hover-in-shadow">
                  <input class="input-control" type="text" placeholder="Name" name="managerName">
                </div>
                <div class="input-group outer-shadow hover-in-shadow">
                  <input class="input-control" type="text" placeholder="Email" name="managerEmail">
                </div>
                <div class="input-group outer-shadow hover-in-shadow">
                  <input class="input-control" type="text" placeholder="Subject" name="letterSubject">
                </div>
              </div>
  
              <div class="w-50">
                <div class="input-group outer-shadow hover-in-shadow">
                  <textarea class="input-control" placeholder="Message" name="letterContent"></textarea>
                </div>
              </div>
  
            </div>
  
            <div class="row">
              <div class="submit-btn">
                <button class="btn-1 outer-shadow hover-in-shadow" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact section end   -->
  
  
  <!-- Portfolio popup start -->
  <div class="pp portfolio-popup">
  
    <div class="pp-details">
      <div class="pp-details-inner">
  
        <div class="pp-title">
          <h2></h2>
          <p>Category - <span class="pp-project-category"></span></p>
        </div>
  
        <div class="pp-project-details"></div>
  
      </div>
    </div>
  
    <div class="separator"></div>
  
    <div class="pp-main">
      <div class="pp-main-inner">
        <div class="pp-project-details-btn outer-shadow hover-in-shadow">Project Details <i class="fas fa-plus"></i></div>
        <div class="pp-close outer-shadow hover-in-shadow">&times;</div>
        <img class="pp-img outer-shadow" src="img/portfolio/large/project-1/1.png" alt="img">
        <div class="pp-counter"></div>
      </div>
  
      <div class="pp-loader">
        <div></div>
      </div>
  
      <div class="pp-prev"><i class="fas fa-play"></i></div>
      <div class="pp-next"><i class="fas fa-play"></i></div>
    </div>
  </div>
  <!-- Portfolio popup end   -->

<%- include("footer") -%>